.header__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: flex-end;
    gap: 24px;

    margin: 0;
    padding: 0;

    list-style-type: none;
    box-sizing: border-box;
  }
}
