.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  min-width: 238px;
  min-height: 27px;
}

@media screen and (min-width: 768px) {
  .popup__input {
    min-width: 358px;
  }
}
