.popup__button-text_saving {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .popup__button-text_saving {
    font-size: 18px;
    line-height: 22px;
  }
}
