.profile__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin: 14px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0;
    text-align: left;
  }
}
