.elements__button-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.elements__button-delete:hover {
  opacity: 0.6;
  cursor: pointer;
}